*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background:#3B4664;
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

  }
  .lower{
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 65%;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background: #252D44;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax( 70px, auto) repeat(5, 70px);

  }
  .lower > button {
    gap: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #252D44 ;
    margin: 4%;
    outline: none;
    border-radius:10px;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .lower> button:hover {
    background-color: rgba(222, 47, 47, 0.384);
  }
  #del{
    background-color: #647299;
    color: white;
  }
  #equal{
    background-color:#D13F30;
    color: white;

  }
  
  .span-two {
    grid-column: span 2;
  }
  /* .Lower-part{
    background: #252D44;
  } */
  .output {
    grid-column: 1 / -1;
    background: #181F32;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin-bottom: 3%;

  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }